<div class="container-fluid">
    <div class="row my-2 p-2 me-3">
        <div class="col-md-12  text-white text-center border rounded shadow p-3  m-3 ">
            <h3 class="mb-5 mt-2"
                style="color: #384292; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                Bienvenue dans votre application Carnet de contacts </h3>
            <ng-container *ngIf="contacts">
                <div class="d-flex flex-wrap">

                    <!--card-->
                    <div class="card mb-3 ms-2 shadow" style="max-width: 430px; border: solid 1px #77d438 !important;"
                        *ngFor="let contact of contacts">
                        <div class="row g-0 mb-5">
                            <div class="col-md-4">
                                <img src="/assets/img/Contact.jpg" class="img-fluid rounded-start" alt="fictif">
                            </div>
                            <div class="col-md-8 ">
                                <div class="card-body">
                                    <h5 class="card-title" style="margin-left: -150px !important;">Nom : <span
                                            class="fs-5 text-muted">{{contact.lastName}}
                                        </span> </h5>
                                    <h5 class="card-text" style="margin-left: -110px !important;">Prénom : <span
                                            class="fs-5 text-muted">{{contact.firstName}}
                                        </span> </h5>
                                    <h5 class="card-text" style="margin-left: -82px !important;">Tèl : <span
                                            class="fs-5 text-muted">{{contact.phone}}
                                        </span> </h5>
                                    <h5 class="card-text" style="margin-left: -18px !important;">Email : <span
                                            class="fs-5 text-muted">
                                            {{contact.email}}</span>
                                    </h5>
                                    <h5 class="card-text ms-2">Adresse : <span
                                            class="fs-5 text-muted">{{contact.address}}
                                        </span>
                                    </h5>
                                </div>
                            </div>
                        </div><br>
                        <div class="d-flex flex-wrap  position-absolute bottom-0 end-0">
                            <img src="/assets/img/7817.png" style="width: 75px; height: 55px;" alt="">
                            <img src="/assets/img/update.webp" style="width: 75px; height: 55px;" alt="">
                            <img src="/assets/img/delete.png" class="m-1" style="width: 55px; height: 45px;" alt="">
                        </div>
                    </div>
                    <!--card-->
                </div>
            </ng-container>
        </div>
    </div>

</div>