<nav class="navbar navbar-expand-sm bg-dark navbar-dark p-2">

    <a class="navbar-brand  ms-2" href="/contacts"><img src="/assets/img/logo1.png" style="height: 80px;" alt="logo"></a>
    <ul class="navbar-nav">
      <li class="nav-item"><a routerLink="/contacts" class="nav-link">Contacts</a></li>
      <li class="nav-item" *ngIf="this.authService.getToken() != null"><a routerLink="/addContact" class="nav-link">Ajouter un contact</a></li>
      
    </ul>
    <ul class="navbar-nav offset-md-2 offset-lg-4 offset-xl-6">
      <ng-container *ngIf="this.authService.getToken() == null, else elseBlock">
        <li class="nav-item ms-5"><a routerLink="/login" class="nav-link text-info" >Login</a></li>
        <li class="nav-item"><a routerLink="/register" class="nav-link text-primary">Register</a></li>
      </ng-container>
       <ng-template #elseBlock>
        <li class="nav-item ms-5"><span class="fs-3 text-capitalize text-white" *ngIf="this.authService.username">{{this.authService.username}}</span></li>
        <li class="nav-item ms-5"><a class="nav-link text-info" (click)="this.authService.logOut()">Log out</a></li>
        
       </ng-template> 
      
      
    </ul>
  
  </nav>

<router-outlet></router-outlet>
